[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
google-generativeai = "*"
torch = "*"
sentencepiece = "*"
transformers = "*"
colorama = "*"

[dev-packages]

[requires]
python_version = "3.12"
